.app {
  text-align: center;
  margin-top: 50px;
}

.camera {
  margin-bottom: 50px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.photo-grid img {
  width: 100%;
}
